@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,200;0,500;1,400&display=swap');
/*Small Screen*/
.container{
    background-color: salmon;
    padding: 1rem;
    color: white;
}

.navbar_name{
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}
.navbar{
    display: flex;
    flex-direction: column;
}


/*Medium Screen*/
@media(min-width:768px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar_brand{
        margin-bottom: 0;
    }
}

/*Large Screen*/
@media(min-width:992px){
    
}