/*Small screen*/
.container{
    margin: 5rem 1rem;
    padding: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
}

.form_left{
    display: none;
}

.form_image{
    max-width: 100%;
    border: 10px;
    height: auto;
}

.form_title{
    text-align: center;
    color:salmon;
    font-size: 2.44rem;
    margin-bottom: 2px;
}

.form_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.form_label{
    margin-bottom: 2px;
}

.form_input,.form_select{
    outline: none;
    padding: 1rem 0.5rem;
    border-radius: 8px;
    border: 1px solid salmon;
}
.form_select{
    background-color: #fff;
}

.form_button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: salmon;
    color: white;
    display: block;
    margin-top: 2rem;
    width: 100%;
}
/*Large Screen*/
@media(min-width:992px){
    .container{
        max-width: 1200px;
        margin: 5rem auto;
    }

    .form{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .form_left{
        display: block;
        flex-basis: 60%;
    }

    .form_right{
        flex-basis: 40%;
    }
}