@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,200;0,500;1,400&display=swap');
/*Small screen*/
.container{
    background-color: salmon;
    color: white;
    padding: 1rem;
}

.footer{
    display: flex;
    flex-direction: column;
}

a{
    color: white;
}

a:hover{
    color: grey;
}

a:active{
    color:beige;
}

.footer_name,.footer_owner{
    margin-bottom: 1rem;
    margin-left: 2rem;
    text-align: left;
}

.footer_name{
    font-size: 2.4rem;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}
/*Medium SCreen*/
@media (min-width:768px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer_name,.footer_owner{
        margin-bottom: 0;
    }
}

/*Large SCreen*/
@media (min-width:992px){
    
}